.text-orange {
  color: rgba(255, 136, 0, 0.959);
}

.bg-darkblue {
  background-color: rgb(21, 44, 58);
}

.bg-lightblue {
  background-color: rgb(45, 77, 83);
}

.bg-orange {
  background-color: rgba(255, 136, 0, 0.959);
}